@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Permanent Marker', cursive;
}
nav a{
    font-family: 'Permanent Marker', cursive;
}
a{
    font-family: 'Permanent Marker', cursive;
}
button{
    font-family: 'Permanent Marker', cursive;
}
